			body{
				font-family:'Comic Sans MS', cursive;
			}
			a{
				font-size: 15px;
			}		
		
			h1, h2, h3, h4, h5, h6 {
				font-weight: bold !important;
			}
			h1{
				text-align:center;
				font-size: 30px;
			}
			h3{
				text-align:center;
				font-size: 18px;
			}
			
			p{
				text-align:center;
				font-size: 15px;
			}
			/*hosted or embedded font - begin*/
			@font-face {
						font-family: 'SansationLight';
						src: url('./SansationLight/SansationLight.eot');
						src: local('SansationLight'), url('./SansationLight/SansationLight.woff') format('woff'), url('./SansationLight/SansationLight.ttf') format('truetype');
					}
			/*hosted or embedded font - end*/					
					